.login-container {
	max-width: 480px;
	padding: 50px 50px;
	background-color: var(--bg-prim);
	border-radius: 20px;
	margin: 100px;
	margin: 10px auto;
}

.google-signin-container {
	background-color: white;
	border-radius: 50px;
	padding: 5px;
	margin-bottom: 10px;
}

.line {
	width: 30%;
	height: 1px;
	background-color: gray;
}

.divider {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
