<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
		/>
		<link rel="stylesheet" href="./style.css" />
		<link rel="stylesheet" href="../default.css" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		/>

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		<title>Account Registration</title>
	</head>
	<body>
        {% extends 'base.html' %}
        {% block title %}Account Creation Form {% endblock title%}
        
        {% block content %}
        
                    
        <div class="sign-up-container ">
            <h2>Sign Up</h2>
            <div class=" google-signin-container"><center><i class="fab fa-google"></i>Sign in with google</center></div>
            <div class="divider">
                <div class=" line line-left"></div>
                <div class="option">Or Sign In with Email</div>
                <div class=" line line-right"></div>
            </div>
        <form method='post' action='{% url 'accounts:account_creation'%}'>
        {% csrf_token %}
        <div class="form-group">
            <label for="email-phone-input">Email/Phone No.</label>
        <input name='username' class='form-control' type='text' placeholder= 'Email/Phone No' required>
        
        </div>
        
        <div class="form-group">
            <label for="password-input">Password</label>
        <input name='password1' class='form-control' type='password' placeholder= 'Password' required>
        
        </div>
        
        <div class="form-group">
            <label for="confirm-password-input">Confirm</label>
        <input name='password2' class='form-control' type='password' placeholder= 'Confirm Password' required>
        
        </div>
        <button type="submit" class="btn btn-block mt-4 mb-4 ">SUBMIT</button>
        <div className="w-100 text-center mt-4">
            Already have an account? <a href=''>Log In</Link>
          </div>
        
        </form>
        </div>
        
        {% endblock content %}
{% endblock content %}
    </body>
</html>
